<div>

    <hi class="text-info">Inquiry Confirmation</hi>

    <p>We have recieved your inquiry and someone from our team will contact you shortly</p>

    <img src="/images/patio.jpg" width="80%"/>
</div>

